* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.header {
    padding: 1rem;
    background: cadetblue;
    font-size: 18px;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center {
    padding-left: calc(100% - 570px);
    padding-right: calc(100% - 570px);
}

.btn-cart,
.product__btn {
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: coral;
}

.btn-cart:hover,
.product__btn:hover {
    background: rgb(248, 98, 44);
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product__item {
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 30px;
    box-shadow: 2px 2px 5px #222222;
}

.product__item h3 {
    text-align: center;
    color: darkviolet;
}

.product__item p {
    margin: 2rem 1rem;
    background: rgb(207, 205, 205);
    text-align: right;
    font-weight: 900;
    color: red;
}